<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EAI Reports Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">EAI Reports Demo
        </h1>
        <h3>January only</h3>
        <div class="reports">
            <table>
                <caption>Reports</caption>
                <thead>
                    <tr>
                        <th>employeeName</th>
                        <th>annual_leave</th>
                        <th>sick_leave</th>
                        <th>hours_worked</th>
                        <th>hours_counted</th>
                        <th>under/over</th>
                        <th>shifts_worked</th>
                        <th>shifts_counted</th>
                        <th>shifts_wfh</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>